<h2>Registrar Venda</h2>

<form method="post" action="/Venda/Create">
    <div class="form-group">
        <label>Cliente</label>
        <input type="text" class="form-control" name="IdCliente" required>
    </div>
    <div class="form-group">
        <label>Produto</label>
        <input type="text" class="form-control" name="IdProduto" required>
    </div>
    <div class="form-group">
        <label>Quantidade</label>
        <input type="number" class="form-control" name="QtdVenda" required>
    </div>
    <button type="submit" class="btn btn-success">Salvar</button>
</form>
